<header class="site-header">
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      {% for my_page in site.pages %}
        {% if my_page.title %}
          <a class="page-link" href="{{ site.baseurl }}{{ my_page.url }}">{{ my_page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>

  </div>
</header>
