<!DOCTYPE html>
<html lang="ko">
{% include head.html %}

<body>
{% include facebook_sdk.html %}

{% include header.html %}

  <main class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

{% include footer.html %}
</body>
</html>
