---
layout: default
---

<div class="home">
  <h1 class="page-header">Posts</h1>
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date_to_string }}</span>
        <h2><a class="post-link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      </li>
    {% endfor %}
  </ul>

</div>
