---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    <p class="post-meta">
      <span>{{ page.date | date_to_string }}</span>
      {% if page.author %}
        • <span>{{ page.author }}</span>
      {% endif %}
    </p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% include facebook_comments.html %}
</article>
